.banner-container{
    background-image: url('/src/images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-primary{
    background-color:#3cbbfa ;
    color: white;
    padding: 18px;
}
.btn-primary:hover{
    background-color:#fcfcfc ;
    color: #3cbbfa;
}
.text-primary{
    color: #3cbbfa;
}
.btn-print{
    /* border: #3cbbfa 1px solid; */
    background-color: transparent;
    /* color: #3cbbfa; */
}
.btn-print:hover{
    border: none;
    background-color:#fcfcfc ;
    color: #3cbbfa;
}